
Library/ArtifactDB
Packages/com.ptc.vuforia.engine-10.27.3.tgz


Assets/Editor/Migration/com.ptc.vuforia.engine-10.27.3.tgz
Library/Bee/Android/Prj/IL2CPP/Gradle/launcher/build/intermediates/assets/debug/bin/Data/data.unity3d
Library/Bee/Android/Prj/IL2CPP/Gradle/launcher/build/intermediates/compressed_assets/debug/out/assets/bin/Data/data.unity3d.jar
Library/Bee/Android/Prj/IL2CPP/Gradle/launcher/build/outputs/apk/debug/launcher-debug.apk
Library/Bee/Android/Prj/IL2CPP/Gradle/unityLibrary/build/intermediates/library_assets/debug/out/bin/Data/data.unity3d
Library/Bee/Android/Prj/IL2CPP/Gradle/unityLibrary/src/main/assets/bin/Data/data.unity3d

Library/Bee/artifacts/Android/d8kzr/libil2cpp.so
Library/Bee/artifacts/Android/il2cppOutput/build/arm64-v8a/libil2cpp.dbg.so
Library/Bee/artifacts/objcopy_5lmi/libil2cpp.dbg.so
Library/PlayerDataCache/iOS2/Data/resources.assets.resS
Library/PramData/AndroidApplicationController/Cache/com.DefaultCompany.Myproject3/gradle-project/unityLibrary/xrmanifest.androidlib/build/intermediates/runtime_library_classes_dir/debug/com/UnityTechnologies/XR/Manifest/BuildConfig.class
Library/PramData/AndroidApplicationController/Cache/com.vuforia.engine.VuforiaEngine/gradle-project/launcher/build/intermediates/project_dex_archive/debug/out/dde647e34e0d26828538b5023dd461469d2d19e52edff4d17bc00ef1db73555e_0.jar
Library/PramData/AndroidApplicationController/Cache/com.vuforia.engine.VuforiaEngine/gradle-project/launcher/build/intermediates/project_dex_archive/debug/out/dde647e34e0d26828538b5023dd461469d2d19e52edff4d17bc00ef1db73555e_1.jar
Library/PramData/AndroidApplicationController/Cache/com.vuforia.engine.VuforiaEngine/gradle-project/launcher/build/intermediates/project_dex_archive/debug/out/dde647e34e0d26828538b5023dd461469d2d19e52edff4d17bc00ef1db73555e_2.jar
Library/PramData/AndroidApplicationController/Cache/com.vuforia.engine.VuforiaEngine/gradle-project/launcher/build/intermediates/project_dex_archive/debug/out/dde647e34e0d26828538b5023dd461469d2d19e52edff4d17bc00ef1db73555e_3.jar
Library/PramData/AndroidApplicationController/Cache/com.vuforia.engine.VuforiaEngine/gradle-project/unityLibrary/xrmanifest.androidlib/build/intermediates/runtime_library_classes_dir/debug/com/UnityTechnologies/XR/Manifest/BuildConfig.class
