
Library/ArtifactDB
Packages/com.ptc.vuforia.engine-10.27.3.tgz

Library/Bee/Android/Prj/IL2CPP/Gradle/launcher/build/intermediates/compressed_assets/debug/out/assets/bin/Data/data.unity3d.jar
Library/Bee/Android/Prj/IL2CPP/Gradle/launcher/build/intermediates/assets/debug/bin/Data/data.unity3d
Library/Bee/Android/Prj/IL2CPP/Gradle/launcher/build/outputs/apk/debug/launcher-debug.apk
Library/Bee/Android/Prj/IL2CPP/Gradle/unityLibrary/build/intermediates/library_assets/debug/out/bin/Data/data.unity3d
Library/Bee/artifacts/Android/d8kzr/libil2cpp.so
Library/Bee/artifacts/Android/il2cppOutput/build/arm64-v8a/libil2cpp.dbg.so
Library/Bee/artifacts/objcopy_5lmi/libil2cpp.dbg.so
.vs/My project3/FileContentIndex/643b86f6-ab4c-4e2a-9eca-8fca8e001e88.vsidx
.vs/My project3/FileContentIndex/92403236-cf46-4322-8ce2-4acc136e45b3.vsidx
.vs/My project3/FileContentIndex/ef779b8d-c39b-49af-9446-a8361f38b9de.vsidx
/Library/PramData/AndroidApplicationController/Cache/com.vuforia.engine.VuforiaEngine/gradle-project/launcher/build/intermediates/project_dex_archive/debug
Temp/FSTimeGet-768f7f015b1d2474e9017b22558caa9f
Temp/FSTimeGet-bd06a9b6a863821408f7d3bfa151f2d9
Temp/FSTimeGet-bdbbe1f83ace9d14ea17901c2ddc3741
Temp/UnityLockfile
Assets/Editor/Migration/com.ptc.vuforia.engine-10.27.3.tgz
Library/PramData/AndroidApplicationController/Cache/com.DefaultCompany.Myproject3/gradle-project/unityLibrary/xrmanifest.androidlib/build/intermediates/runtime_library_classes_dir/debug/com/UnityTechnologies/XR/Manifest/BuildConfig.class
Library/PramData/AndroidApplicationController/Cache/com.vuforia.engine.VuforiaEngine/gradle-project/unityLibrary/xrmanifest.androidlib/build/intermediates/runtime_library_classes_dir/debug/com/UnityTechnologies/XR/Manifest/BuildConfig.class
Library/Bee/Android/Prj/IL2CPP/Gradle/unityLibrary/src/main/assets/bin/Data/data.unity3d
Library/PlayerDataCache/Android/Data/data.unity3d
Library/PlayerDataCache/iOS2/Data/resources.assets.resS
